/*
Engage: Agencies In Your City
Version: 1.2
Front-end Author: Mike Watford and Ryan Cramer
Back-end Author: Patrick Guinness 
*/



/* Reset */
* {margin:0; padding:0;}


/* Fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}



/* Global */
html, body {height: 100%; font-family:Arial, Helvetica, sans-serif; color:#444444; font-size:13px;}

#wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -80px;
}

 #push {height: 250px;}

.clear {clear:both;}
.lft{float:left;}
.rt{float:right;}
.grid {margin:0 auto;width:978px;}
.grid.showcase {margin-top:15px;}
#top {background:#fafafa; padding-top:10px; }
#top h1 {
  background:url(../img/google_logo.png) 0 4px no-repeat;
  color:#91959C;
  font-family:'Open Sans', arial, sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.52em;
  padding:0px 0 10px 126px;
  text-shadow: 0 1px 1px #FFFFFF;
  white-space: nowrap;
}

h1 {
	padding-bottom:40px;
	font-family:"Open sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size:30px; 
	line-height:20px;
	color:#333333;
	background:url(../img/divider-top.png) no-repeat bottom;
}


a {color:#0066cc; text-decoration:none;}

a img {border:none;}

button,.blue-btn{background-color:#5e94ff;background-image:url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAMAAABw8qpSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGZQTFRFcZ/7ZZTwWIbiXIrmW4nlXYvnYI7qY5HtYpDsaJbyb535V4XhVoTgb575WYjjbpz4XYzoX47pbJv3Z5bxZJLuYY/ra5n1apj0VoXhcJ76bZv3aZfzZJPva5r2WIfjZpXxWojkXo3pYWddNgAAAD1JREFUeNrMwYcBQwAAALDYs2iNFrX+f9IbEh5h9lJqLT42k69VoXcI/A0yuVHq7dJJRGKnxi5U+alvAQYATb8CMoTkHNsAAAAASUVORK5CYII=");background-image:-moz-linear-gradient(top,rgba(226,226,226,.14),rgba(34,34,34,.14));background-image:-webkit-linear-gradient(top,rgba(226,226,226,.14),rgba(34,34,34,.14));background-image:linear-gradient(top,rgba(226,226,226,.14),rgba(34,34,34,.14));background-position:left bottom;background-repeat:repeat-x;border:1px solid #5e94ff;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-moz-box-shadow:0 1px 1px rgba(0,0,0,.2);-webkit-box-shadow:0 1px 1px rgba(0,0,0,.2);box-shadow:0 1px 1px rgba(0,0,0,.2);color:#fff;display:inline-block;font-family:"Open Sans",arial,sans-serif;font-size:13px;font-weight:600;line-height:1.54;padding:8px 25px;text-align:center;text-shadow:0 -1px 0 rgba(0,0,0,.2);-moz-transition:all .218s ease-in;-webkit-transition:all .218s ease-in;transition:all .218s ease-in; width:inherit;}
#reg-form button:hover,#index-reg-code button:hover,.blue-btn:hover{border-color:#15c;background-image:url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAMAAABw8qpSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNQTFRFb576bJr2YIzlVoLZZZLsbpz4YY7nXIjgZJHqZ5XvYo/oa5n1aZbxWobdZZLraZfyapjzXorjVYDXZZPtbp35VYHYXYnhY5DpUn3UU37UbZv3YIzkZpTuW4ffWITbaJbwWYXcwa+l2AAAAD1JREFUeNrMwYcBQwAAALDYs2iNFjX+v5IzJDzCILEI7pVOq3Yo/PVijdxXKRVavU0ym5fTLjL6mP0uAQYAPgUCEii55JQAAAAASUVORK5CYII=");background-image:-moz-linear-gradient(top,rgba(226,226,226,.14),rgba(34,34,34,.2));background-image:-webkit-linear-gradient(top,rgba(226,226,226,.14),rgba(34,34,34,.2));background-image:linear-gradient(top,rgba(226,226,226,.14),rgba(34,34,34,.2))}
#content a.blue-btn {color:#fff;text-decoration:none;}

/* End Global */


/* Header */


.container-top{width:980px; margin:0 auto; padding-top:30px;}

#preheader{
	padding: 0;
	width:100%; 
	height:25px;
	text-align:right; 
	font-family: 'Open Sans', sans-serif; 
	background:#f7f7f7; 
	border-bottom:1px solid #ececec;
}


#navbar {
  height:45px;
  padding:0;
  background: #6c7a95;
  background: -moz-linear-gradient(top,  #586fc0 0%, #475eaf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#586fc0), color-stop(100%,#475eaf));
  background: -webkit-linear-gradient(top,  #586fc0 0%,#475eaf 100%);
  background: -o-linear-gradient(top,  #586fc0 0%,#475eaf 100%);
  background: -ms-linear-gradient(top,  #586fc0 0%,#475eaf 100%);
  background: linear-gradient(to bottom,  #586fc0 0%,#475eaf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#586fc0', endColorstr='#475eaf',GradientType=0 );
}

#nav {float: left; width:400px; height:40px; }
#nav ul {font-family: "Open sans",arial,sans-serif; margin:0 auto;overflow:hidden;}
#nav ul li {
  float: left;
  font-size: 15px;
  line-height: 1.33em;
  margin: 0 30px 0 0;
  text-shadow: 0 -1px 1px #555D72;
  list-style:none;
  text-decoration:none;
}
#nav ul li a { color:#fff; display:block; padding:13px 0; text-decoration:none; }
#nav ul li a.on {
  background:url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABgAAAAKCAYAAACuaZ5oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH1JREFUeNpi/P//PwORgBmIJ0DZBUD8lyhdIAuIwEJAvP0/AmyHihHUS4zhKkB8+z8muA2Vo8gCeyB++x83eAtVQ5YFOUD88z9h8AeqlmgLmIF48n/SwWSoXrwWoEcmqQAj8omJTFIBSuQTG5mkAnjkwyLzz3/qA3DkAwQYABEvANn67PzPAAAAAElFTkSuQmCC") 50% 110% no-repeat;  
  font-weight:bold;
}
#nav ul li span#top {color:#fff; display:block; font-size:18px; font-weight:300; letter-spacing:1px; padding:13px 0; }
#nav ul li a:active  {text-decoration:none; font-weight:bold;}
.active {text-decoration:none; font-weight:bold;}

#help-nav {
  float: right;
  padding-top:15px;
  font-size: 15px;
  line-height: 1.33em;
  margin: -3px 30px 0 0;
  text-shadow: 0 -1px 1px #555D72;
  font-family: "Open sans",arial,sans-serif; 
  overflow:hidden; 
  color:#fff;
}

/* end header */



/* Sign in */

#splash{ padding-bottom:25px;}


#splash h1{
	padding-bottom:30px;
	font-family:"Open sans", Arial, Helvetica, sans-serif;
	font-weight:300;
	font-size:30px;
	line-height:36px;
	color:#0066cc;
}

#splash img {padding-bottom:20px;}

#splashbg{
	background:url(../img/splash-hero.png) no-repeat;
	background-size:100%;
	height:315px;
}

/* End Sign in */


/* Welcome */

#welcome {
	width:640px;
	padding:20px 0;
}



#welcome h2 {	
	font-weight:bold; 
	font-size:13px; 
	line-height:20px;
	color:#333333; 
}

/* End Welcome */




/* Agenda */

#agenda{
	float:left;
	width:650px;
	font-family:'Open sans', Arial, Helvetica, sans-serif;
	font-weight:300;
	color:#444444;
	padding:20px 0;
}

#agenda-title{
	font-family:'Open sans', Arial, Helvetica, sans-serif; 
	font-size:22px; 
	line-height:34px; 
	font-weight:300; 
	color:#6699ff;
}

#agenda h3 { font-size:22px; line-height:34px; font-weight:300;}


.heading{
	 font-size:14px; 
	 line-height:24px; 
}


.action {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight:normal; 
	line-height:20px; 
	color:999999; 
	padding-left:15px;
}




#icons{width:600px; padding-top:30px;}

#icons img {text-align:left; vertical-align:middle; padding-right:10px;}

.icon{float:right; font-size:13px; color:#0066cc; font-weight:bold;}


/* End Agenda */



/* Travel  */

#map1 {
	float: left;
	width:400px;
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:normal; 
	font-size:12px; 
	line-height:20px; 
	padding:20px 0;
}

#map2 {
	float: right;
	width:400px;
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:normal; 
	font-size:12px; 
	line-height:20px; 
	padding:20px 0;
}

#location {
	float:right; 
	font-size:14px; 
	font-family:Arial, Helvetica, sans-serif;
}

.bycar{
	display:block; 
	padding-bottom:5px;
}

/* End Travel  */


/* Register */

#details{
	float:left; 
	margin-top:20px; 
	font-size:13px; 
	font-family:Arial, Helvetica, sans-serif; 
	color:#444444;
}

#permission{
	padding-top:20px; 
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif; 
	
}

#opt-out{
	width:500px; 
	float:left; 
	padding-left:10px;
}

#required{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px;
}

/* Register */

/*** FOOTER ***/

#colorbar{
	margin-top:-4px;
	position:relative;
	height:4px;
	width:138px;
	float:right;
	padding:0;
	background:url(../img/colorbar.png) no-repeat;
}


#footer {
	width:100%;
	margin:0 auto;
	height: 300px;
	padding-top:15px; 
	border-top:1px solid #ebebeb;
}

.footer-contain{width:960px; margin:0 auto; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#444444;}

#copyright-main {
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif; 
	color:#666666; 
	font-weight:normal; 
	font-size:11px; 
	line-height:24px; 
}

#copyright-main a{color:#1155cc; text-decoration:none;}


/*** End FOOTER ***/
