{% extends "base.html" %}

{% block body %}
  
 <div id="wrap" class="container-top">
   <h1>We've got a big night planned for you.</h1>
    
    <h2 id="agenda-title">Tuesday, April 30th, 2013</h2>
    
   <div id="agenda">
        
        	<h3>5:00 - 5:30 pm</h3>
            <span class="heading"><strong>Sign in &amp; Hors d'oeuvres</strong></span>
             
             <br><br>
             
            <h3>5:30 - 6:00 pm</h3>
            <span class="heading"><strong>Google Keynote</strong><br>
            Hear Savio Barretto, Senior Product Marketing Manager, talk about the future of mobile and video in digital advertising.</span>
             
             <br><br>
             
            <h3>6:00 - 6:30 pm</h3>
             <span class="heading"><strong>Presentation: The Zero Moment of Truth</strong><br>
            The average shopper currently consults about 10 sources before buying, twice as many as in years past.</span>
             
             <br><br>
             
            <h3>6:30 - 7:00 pm</h3>
            <span class="heading"><strong>Presentation: How to Win with Digital</strong><br>
            Digital marketing gives us new ways of reaching customers wherever they are with increased precision and at scale. We'll show you the latest tools available tohelp your business grow.</span>
             
             <br><br>
             
            <h3>7:00 - 8:00 pm</h3>
            <span class="heading"><strong>Agency Sessions</strong><br>
            Meet and connect with our partners in 30-minute consultation sessions.</span>
            
            <br><br>
             
            <h3>8:00 - 9:00 pm</h3>
            <span class="heading"><strong>Dinner</strong><br>
            Top off the night with cuisine made just for you by our Google chefs.</span>
            
        
        </div>
            	
               
<div class="clear"></div>
        
   
  

   
 </div><!-- wrap -->
   
   <div id="push"></div>
 

{% endblock body %}