{% extends "base.html" %}

{% block body %}

<div id="wrap" class="container-top">
  <h1>Thank you!</h1>
	
       <div class="lft" style="margin-top:20px;">
       		<div style="padding-bottom:15px; font-size:13px;">You are now registered for:</div>
    		<span style="line-height:20px;">
            <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Google%20Engage%20%7C%20Inspire&dates=20130501T000000Z/20130501T040000Z&details=An%20exclusive%20event%20designed%20to%20show%20you%20how%20your%20business%20can%20make%20the%20most%20of%20the%20web.&location=Googleplex&trp=true&sprop=&sprop=name:" target="_blank">Google Engage, April 30th, 2013, 5:00 to 9:00pm</a><br>
            <a href="/travel">The Googleplex, 1600 Amphitheatre Pkwy, Mountain View, California 94043 </a><br><br>
            </span>
            Look for a confirmation email shortly. We’re glad you’ll be joining us. <br>
            This event will be a great learning experience for everyone involved. <br><br>
            
            
            
            <div class="icon" style="padding-right:50px;">
            			<a href="/travel"><button class="blue-btn">Tools for planning your trip</button></a>&nbsp;&nbsp;
                    	<a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Google%20Engage%20%7C%20Inspire&dates=20130501T000000Z/20130501T040000Z&details=An%20exclusive%20event%20designed%20to%20show%20you%20how%20your%20business%20can%20make%20the%20most%20of%20the%20web.&location=Googleplex&trp=true&sprop=&sprop=name:" target="_blank">
                        <img src="img/date.png" style="vertical-align:middle;"  alt="Mark the event on my calendar">&nbsp;Mark the event on my calendar</a>
             </div>

            
       </div>
       
       <div class="clear"></div>
       
   </div><!-- wrap -->
   
    <div id="push"></div>
   	
{% endblock body %}