{% extends "base.html" %}

{% block body %}


    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Google+Headquarters,+Amphitheatre+Parkway,+Mountain+View,+California+94043&amp;aq=1&amp;oq=1600+Amphitheatre+Pkwy,+Mountain+View,+California+94043+&amp;sll=37.421838,-122.084626&amp;sspn=0.006297,0.011415&amp;g=1600+Amphitheatre+Pkwy,+Mountain+View,+California+94043&amp;ie=UTF8&amp;hq=Google+Headquarters,+Amphitheatre+Parkway,+Mountain+View,+California+94043&amp;t=m&amp;ll=37.422139,-122.08398&amp;spn=0.017723,0.032015&amp;output=embed"></iframe>
   
   
<div id="wrap" class="container-top">
   		<h1>Getting there is easy. <span id="location">The Googleplex, 1600 Amphitheatre Pkwy, Mountain View, California 94043</span></h1>

                <div id="map1">
                        <strong>From the San Francisco (SFO) Airport</strong><br>
                        <span class="bycar">By Car (23 miles, 26 minutes)</span>
                        Take 101 South for about 20 miles to the Rengstorff Exit. Exit
                        Rengstorff, keep right at the fork, and follow signs for Amphitheatre
                        Parkway. Merge onto Rengstorff Ave, then continue onto
                        Amphitheater Pkwy. Google will be on the right at 1600 Amphitheatre Pkwy.
                        <br><br><br>
                        <a href="http://goo.gl/maps/6hiX6" target="_blank" title="Google map: SFO to Google"><img src="img/mapit.png" alt="Map it" style="display:block;"></a>
                        <br>
                        
                </div><!-- travel -->


                <div id="map2" class="rtl">                        
                        <strong>From the San Jose (SJC) Airport</strong><br>
                        <span class="bycar">By Car (12.3 miles, 15 minutes)</span>
                        Take Skyport Drive until you merge onto CA-87 North toward US-101
                        North. Take exit 9B on the left to merge onto US-101 North toward San
                        Francisco. Travel about 9 miles. Take exit 400A toward Amphitheater
                        Parkway. Merge onto Rengstorff. Continue onto Amphitheatre Pkwy.
                        Google will be on the right at 1600 Amphitheatre Pkwy.
                        <br><br>
                        <a href="http://goo.gl/maps/JhTLs" target="_blank" title="Google map: SJC to Google"><img src="img/mapit.png" alt="Map it" style="display:block;"></a>
                </div><!-- travel -->


   
  <div class="clear"></div>

</div><!-- wrap -->

<div id="push"></div>

{% endblock body %}